<form class="layui-form layui-form-pane ok-form" id="form-app">
    <input type="hidden" name="Id" v-model="formData.id" />
    <div class="layui-form-item">
        <label class="layui-form-label">中文名称</label>
        <div class="layui-input-block">
            <input type="text" v-model="formData.class_name_zh" name="ClassNameZh" lay-verify="required" placeholder="请输入分类中文名称" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">英文名称</label>
        <div class="layui-input-block">
            <input type="text" v-model="formData.class_name_en" name="ClassNameEn" lay-verify="required" placeholder="请输入分类英文名称" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block div-submit">
            <button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

</form>
<script>

    layui.use(['element', 'form', 'jquery', 'laydate','layedit'], function () {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var layedit = layui.layedit;

        layedit.set({
            uploadImage: {
                url: '' //接口url
                ,type: '' //默认post
            }
        });
        var index = layedit.build("content");
        form.on('submit(submit)', function (data) {
            app.save(data.field); //调用vue方法
            return false;
        });
    });
    var app = new Vue({
        el: '#form-app',
        data: {
            id: '',
            formData: {
                "id" : 0,
                "class_name_zh" : "",
                "class_name_en" : "",
            },
        },
        created(){
            this.id = {{.id}};
            if(this.id != "" && parseInt(this.id) > 0 && "{{.loadDataAction}}"){
                this.loadData();
            }
        },
        methods: {
            loadData(){
                var _this = this;
                var params = {
                    "id" : {{.id}}
                };
                $.getJSON("{{.loadDataAction}}",params, function (ret) {
                    if(ret.code === 0){
                        _this.formData = ret.data;
                    }else{
                        alert(ret.massage)
                    }
                })
            },
            //保存
            save(params){
                $c.showLoading("提交数据中...");
                $c.ajax(getUrl("edit"),params, function(ret){
                    $c.hideLoading();
                    if(ret.code === 0){
                        $c.layerMsg("提交成功！",function(){
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });

                    }else{
                        $c.errorMsg(ret.message)
                    }
                })

            },

        },
        mounted: function () {

        }
    });
</script>