<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<title>{{.pageTitle}}</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="shortcut icon" href="/static/imgs/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" href="/static/lib/layui/css/layui.css">
<link rel="stylesheet" href="/static/css/okadmin.css">
<link rel="stylesheet" href="/static/font/iconfont.css">
<script src="/static/lib/layui/layui.js"></script>
<script type="text/javascript" src="/static/vue/vue.js"></script>

<script type="text/javascript" src="/static/js/jquery-2.1.1.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>

<script>
    //添加Date扩展
    Date.prototype.format = function (format) {
        var o = {
            "M+": this.getMonth() + 1, // month
            "d+": this.getDate(), // day
            "h+": this.getHours(), // hour
            "m+": this.getMinutes(), // minute
            "s+": this.getSeconds(), // second
            "q+": Math.floor((this.getMonth() + 3) / 3), // quarter
            "S": this.getMilliseconds()
            // millisecond
        }
        if (/(y+)/.test(format))
            format = format.replace(RegExp.$1, (this.getFullYear() + "")
                    .substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(format))
                format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
        return format;
    }

    layui.use(['element', 'layer'], function () {
        var element = layui.element;
        var $ = layui.jquery;
        var layer = layui.layer;

        /**
         * 左边菜单显示/隐藏功能
         * @type {boolean}
         */
        $(".menu-switch").click(function () {
            if ($(".layui-layout-admin .layui-side").css("left") == '0px') {
                $(".layui-layout-admin .layui-side").animate({left: "-200px"});
                $(".layui-layout-admin .content-body").animate({left: "0px"});
                $(".layui-layout-admin .layui-footer").animate({left: "0px"});
            } else {
                $(".layui-layout-admin .layui-side").animate({left: "0px"});
                $(".layui-layout-admin .content-body").animate({left: "200px"});
                $(".layui-layout-admin .layui-footer").animate({left: "200px"});
            }
        });

        /**
         * 点击左边菜单在右边添加选项卡
         */
        $(".layui-nav-child").find("dd").click(function () {
            // 纯文字
            // var title = $(this).text();
            // 图标+文字
            var title = $(this).find("a").html();
            var path = $(this).children('a').attr('path');
            var tabId = $(this).children('a').attr('tab-id');
            // 去重复选项卡
            for (var i = 0; i < $('.ok-frame').length; i++) {
                if ($('.ok-frame').eq(i).attr('tab-id') == tabId) {
                    element.tabChange("ok-tab", tabId);
                    event.stopPropagation();
                    return;
                }
            }
            // 添加选项卡
            element.tabAdd("ok-tab", {
                title: title,
                content: "<iframe src='" + path + "' tab-id='" + tabId + "' class='ok-frame' frameborder='0' scrolling='yes' width='100%' height='100%'></iframe>",
                id: tabId
            });
            // 切换选项卡
            element.tabChange("ok-tab", tabId);
        });
    });
</script>