<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<title>{{.pageTitle}}</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

{{/*vue*/}}
<script type="text/javascript" src="/static/vue/vue.min.js"></script>

{{/*iview*/}}
<link rel="stylesheet" type="text/css" href="/static/iview/styles/iview.css">
<script type="text/javascript" src="/static/iview/iview.js"></script>
<script type="text/javascript" src="/static/iview/iview.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-2.1.1.js"></script>
{{/*公共js文件*/}}
<script type="text/javascript" src="/static/js/common.js"></script>

