<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<title>{{.pageTitle}}</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="shortcut icon" href="/static/imgs/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" href="/static/lib/layui/css/layui.css">
<link rel="stylesheet" href="/static/css/okadmin.css">
<link rel="stylesheet" href="/static/font/iconfont.css">
<link rel="stylesheet" href="/static/lib/nprogress/nprogress.css">
<link rel="stylesheet" href="/static/lib/sweetalert/sweetalert.css">

<script type="text/javascript" src="/static/js/jquery-2.1.1.js"></script>
<script src="/static/lib/layui/layui.js"></script>
<script type="text/javascript" src="/static/vue/vue.js"></script>
<script type="text/javascript" src="/static/lib/sweetalert/sweetalert.min.js"></script>
<script src="/static/lib/nprogress/nprogress.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<style>
    .div-submit{
        margin:0 !important;
        text-align: center;
    }
</style>
<script>
    //添加Date扩展
    Date.prototype.format = function (format) {
        var o = {
            "M+": this.getMonth() + 1, // month
            "d+": this.getDate(), // day
            "h+": this.getHours(), // hour
            "m+": this.getMinutes(), // minute
            "s+": this.getSeconds(), // second
            "q+": Math.floor((this.getMonth() + 3) / 3), // quarter
            "S": this.getMilliseconds()
            // millisecond
        };
        if (/(y+)/.test(format))
            format = format.replace(RegExp.$1, (this.getFullYear() + "")
                    .substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(format))
                format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
        return format;
    };

    function refreshIframe() {
        //获取hash来切换选项卡
        // var layid = location.hash.replace(/^#nav_tabs=/, '');
        // debugger;
        var layid = "c-c";
        var tabs = window.parent.document.getElementById("ul-tabs");
        for (var i = 0; i < tabs.children.length; i++) {
            if (tabs.children[i].className == "layui-this") {
                layid = tabs.children[i].getAttribute("lay-id");
                break;
            }
        }
        var $iframe = window.parent.document.getElementById("frame_" + layid);
        // if (window.parent) {
        //     var tabs = window.parent.document.getElementById("ul-tabs");
        //     for (var i = 0; i < tabs.children.length; i++) {
        //         if (tabs.children[i].className == "layui-this") {
        //             layid = tabs.children[i].getAttribute("lay-id");
        //             break;
        //         }
        //     }
        //     var $iframe = window.parent.document.getElementById("frame_" + layid);
        //     console.log(layid);
        // } else {
        //     var tabs = window.document.getElementsByClassName("ul-tabs");
        //     for (var i = 0; i < tabs.children.length; i++) {
        //         if (tabs.children[i].className == "layui-this") {
        //             layid = tabs.children[i].getAttribute("lay-id");
        //             break;
        //         }
        //     }
        //     var $iframe = window.document.getElementById("frame_" + layid);
        // }
        if (typeof $iframe != 'undefined') {
            $iframe.contentWindow.location.reload(true);
        }
    }
    // window.addEventListener('beforeunload', e => {
    //     refreshIframe();
    //     return false;
    // });
    //禁止用F5键
    window.onkeydown = function (e) {
        // debugger;
        //解决浏览器兼容的问题
        e = window.event || e;
        //F5按下
        if (e.key == "F5") {
            refreshIframe();
            return false;
        }
    };
    //禁止用Ctrl + F5键
    window.onkeyup = function (e) {
        //解决浏览器兼容的问题
        e = window.event || e;
        if (e.ctrlKey && e.key == "F5"){
            refreshIframe();
            return false;
        }
    };
</script>