<div class="layui-header">
    <div class="layui-logo">ok-admin v1.0</div>
    <div class="menu-switch">
        <i class="iconfont icon-caidan"></i>
    </div>
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item layui-this"><a href=""><i class="iconfont icon-jiankongkongzhiguanlijianguan"></i> 控制管理<span class="layui-badge-dot"></span></a></li>
        <li class="layui-nav-item"><a href=""><i class="iconfont icon-weibiaoti35"></i> 产品中心</a></li>
        <li class="layui-nav-item"><a href=""><i class="iconfont icon-rengongzhineng"></i> 人工智能</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;"><i class="iconfont icon-map-setting"></i> 其它系统</a>
            <dl class="layui-nav-child">
                <dd><a href="">邮件管理</a></dd>
                <dd><a href="">消息管理</a></dd>
                <dd><a href="">授权管理</a></dd>
            </dl>
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="/static/imgs/head.png" class="layui-nav-img">
                bobi
            </a>
            <dl class="layui-nav-child">
                <dd><a href="">个人中心<span class="layui-badge-dot"></span></a></dd>
                <dd><a href="">基本资料</a></dd>
                <dd><a href="">安全设置</a></dd>
                <dd><a href="javascript:void(0)" id="lock">锁定账户</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="javascript:void(0)" id="logout">退出</a></li>
    </ul>
</div>