<!-- 用于列表页 -->
<!DOCTYPE html>
<html>
<head>
{{ template "layout/admin/head.html" .}}
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    {{ template "layout/admin/sidebar.html" }}
    {{ template "layout/admin/header.html" .}}
    <!-- 内容主体区域 -->
    <div class="content-body">
        <div class="layui-tab layui-tab-brief" lay-filter="nav_tabs" lay-allowClose="true">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="c-c"><i class="layui-icon">&#xe68e;</i> 控制台</li>
            </ul>
            <ul class="rightmenu" style="position: absolute;display: none;font-size: 12px;font-family: 'Microsoft Yahei';">
                <li data-type="closethis" class="text-center bg-tab">关闭当前</li>
                <li data-type="closeall" class="text-center">关闭所有</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe src='{{urlfor "AdminController.Index"}}' frameborder="0" scrolling="yes" width="100%" height="100%"></iframe>
                </div>
            </div>
        </div>
    </div>

    <!--底部信息-->
    <div class="layui-footer">
        <button class="layui-btn layui-btn-danger layui-btn-xs donate">Skr</button>
    </div>
</div>
<script src="/static/lib/nprogress/nprogress.js"></script>
<script src="/static/js/okadmin.js"></script>
<script>

    // window.onload = function (e) {
    //     e = e || window.event;
    //     console.log(e.key);
    //     if (e.ctrlKey && e.key == 82 || e.key == 116) {
    //         //处理刷新
    //         // window.location.href = "http://localhost:8080/admin/news";
    //     }
    //     return false;
    // };
    layui.use('element', function(){
        //禁止用F5键
        // 文档绑定键盘按下事件
        // $(document).onkeydown  = function(e) {
        // $(".child-iframe").on("keydown", function(e) {
        //     //解决浏览器兼容的问题
        //     e = window.event || e;
        //     if(e.key == "F5") {
        //         e.key = 0;
        //         return false;
        //     }
        // });

        // document.onkeydown = function(e) {
        //     //解决浏览器兼容的问题
        //     e = window.event || e;
        //     //F5按下
        //     if(e.key == "F5") {
        //         e.key = 0;
        //         return false;
        //     }
        // };
        window.addEventListener('beforeunload', e => {
            debugger;
            console.log("document.onbeforeunload")
        });
        window.onkeydown = function (e) {
            //解决浏览器兼容的问题
            e = window.event || e;
            //F5按下
            if (e.key == "F5") {
                e.key = 0;
                return false;
            }
        };
        window.onkeyup = function (e) {
            //解决浏览器兼容的问题
            e = window.event || e;
            if (e.ctrlKey && e.key == "F5"){
                return false;
            }
        };
        window.onbeforeunload = function(e) {
          // 监听浏览器刷新
          debugger;
        };
        window.onbeforeunload =function(){
            return"window.onbeforeunload is triggered!";
        };
        window.onunload =function(){
            alert("window.onunload is triggered!")
        };
        // window.onBeforeLoad(
        //
        // );

        let element = layui.element;
        //触发事件
        let active = {
            //在这里给active绑定几项事件，后面可通过active调用这些事件
            tabAdd: function(url, lay_id, name) {
                //新增一个Tab项 传入三个参数，分别对应其标题，tab页面的地址，还有一个规定的id，是标签中data-id的属性值
                element.tabAdd('nav_tabs', {
                    title: name, //选项卡的标题
                    content: '<iframe src="' + url + '" frameborder="0" scrolling="yes" width="100%" height="100%"></iframe>',  //选项卡的内容  支持传入html
                    id: lay_id //选项卡标题的lay-id属性值'
                });
                CustomRightClick(lay_id); //给tab绑定右击事件
                // FrameWH();  //计算ifram层的大小
            },
            tabChange: function(id) {
                //切换到指定Tab项
                element.tabChange('nav_tabs', id); //根据传入的id传入到指定的tab项
            },
            tabDelete: function (id) {
                //删除单个tab
                element.tabDelete("nav_tabs", id);
            },
            tabDeleteAll: function (ids) {
                //控制台tab保留 删除其余所有tab
                let index = $c.arraySeach("c-c", ids);
                ids.splice(index,1);
                $.each(ids, function (i,item) {
                    element.tabDelete("nav_tabs", item); //ids是一个数组，里面存放了多个id，调用tabDelete方法分别删除
                })
            }
        };

        //当点击有site-tab-active属性的标签时，即左侧菜单栏（可以是无限菜单栏）中内容 ，触发点击事件
        $('.site-tab-active').on('click', function() {
            let nav_active = $(this);
            let lay_id = nav_active.attr("data-id");
            let tab_title = nav_active.attr("data-title");
            let url = nav_active.attr("data-url");
            console.log("url");
            console.log(url);
            //这时会判断右侧.layui-tab-title属性下的有lay-id属性的li的数目，即已经打开的tab项数目
            if ($(".layui-tab-title li[lay-id]").length <= 0) {
                //如果比零小，则直接打开新的tab项
                active.tabAdd(url, lay_id, tab_title);
            } else {
                //否则判断该tab项是否以及存在
                //初始化一个标志，为false说明未打开该tab项 为true则说明已有
                let addTab = true;
                $.each($(".layui-tab-title li[lay-id]"), function () {
                    //如果点击左侧菜单栏所传入的id 在右侧tab项中的lay-id属性可以找到，则说明该tab项已经打开
                    if ($(this).attr("lay-id") == lay_id) {
                        addTab = false;
                    }
                });
                if (addTab) {
                    //标志为false 新增一个tab项
                    active.tabAdd(url,lay_id, tab_title);
                }
            }
            //最后不管是否新增tab，最后都转到要打开的选项页面上
            active.tabChange(lay_id);
        });

        //为了效果更好一点，tab标签上增加了右键功能
        function CustomRightClick(id) {
            //取消右键
            $('.layui-tab-title [lay-id="' + id + '"]').on('contextmenu', function () { return false; });
            $('.layui-tab-title,.layui-tab-title li').click(function () {
                $('.rightmenu').hide();
            });
            //桌面点击右击
            $('.layui-tab-title [lay-id="' + id + '"]').on('contextmenu', function (e) {
                var popupmenu = $(".rightmenu");
                popupmenu.find("li").attr("data-id",id);
                l = $(this)[0].offsetLeft;
                w = $(this)[0].offsetWidth + 'px';
                h = $(this)[0].offsetHeight + 'px';
                console.log(h);
                popupmenu.css({ left: l, width: w}).show();
                popupmenu.find("li").css({'line-height': h});
                t = popupmenu.offsetHeight;
                popupmenu.css({ top: t});
                //alert("右键菜单")
                return false;
            });
        }

        //右键菜单有了，就需要给右键添加功能
        $(".rightmenu li").click(function () {
            if ($(this).attr("data-type") == "closethis") {
                let lay_id = $(this).attr("data-id");
                console.log(lay_id);
                active.tabDelete(lay_id);
            } else if ($(this).attr("data-type") == "closeall") {
                var tabtitle = $(".layui-tab-title li");
                var ids = new Array();
                $.each(tabtitle, function (i) {
                    ids[i] = $(this).attr("lay-id");
                });
                active.tabDeleteAll(ids);
            }
            $('.rightmenu').hide();
        });

        // //完成后，我们还需要计算iframe的高度，因为自动高度，会导致iframe挤到一起
        // function FrameWH() {
        //     var h = $(window).height() -41- 10 - 60 -10-44 -10;
        //     $("iframe").css("height",h+"px");
        // }
        //
        // $(window).resize(function () {
        //     FrameWH();
        // })
    });
</script>
</body>

</html>