<!-- 用于列表页 -->
<!DOCTYPE html>
<html>
<head>
{{ template "layout/admin/head.html" .}}
</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    {{ template "layout/admin/sidebar.html" }}
    {{ template "layout/admin/header.html" .}}
    <!-- 内容主体区域 -->
    <div class="content-body">
        <div class="layui-tab layui-tab-brief" lay-filter="nav_tabs" lay-allowClose="true">
            <ul class="layui-tab-title" id="ul-tabs">
                <li class="layui-this" lay-id="c-c"><i class="layui-icon">&#xe68e;</i> 控制台</li>
            </ul>
            <ul class="rightmenu" style="position: absolute;display: none;font-size: 12px;font-family: 'Microsoft Yahei';">
                <li data-type="closethis" class="text-center bg-tab">关闭当前</li>
                <li data-type="closeall" class="text-center">关闭所有</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe src='{{urlfor "AdminController.Index"}}' id="frame_c-c" frameborder="0" scrolling="yes" width="100%" height="100%"></iframe>
                </div>
            </div>
        </div>
    </div>

    <!--底部信息-->
    <div class="layui-footer">
        <button class="layui-btn layui-btn-danger layui-btn-xs donate">Skr</button>
    </div>
</div>
<script src="/static/lib/nprogress/nprogress.js"></script>
<script>

</script>
</body>

</html>