<!-- 用于列表页 -->
<!DOCTYPE html>
<html>
<head>
    {{ template "layout/admin/head.html" .}}
</head>

<body>
<div class="ok-body">
    {{.LayoutContent}}
</div>

<script>
    {{/*var layer_div = null;*/}}
    {{/*var form = null;*/}}
    {{/*var id = "{{ .id}}";*/}}
    {{/*var is_add = false;//是否是添加状态*/}}
    {{/*var loadDataAction = "{{.loadDataAction}}";*/}}
    {{/*$(function () {*/}}
        {{/*form = $(".ok-form").bindForm();*/}}
        {{/*var layui_iframe = $(".layui-layer-iframe", parent.document);*/}}
        {{/*layer_div = layui_iframe.eq(layui_iframe.length - 1);*/}}
        {{/*if (id == "" || id == 0) {*/}}
            {{/*id = "";*/}}
            {{/*is_add = true;*/}}
        {{/*}*/}}
        {{/*if (id != "" && parseInt(id) > 0 && loadDataAction != "") {;*/}}
            {{/*loadFormData();*/}}
        {{/*}*/}}
        {{/*layer_div.find(".js_layui-layer-btn_wrap").show();*/}}
    {{/*});*/}}
    {{/*function loadFormData() {*/}}
        {{/*var url = '{{urlfor ".loadDataAction" ":id" ".id"}}'*/}}
        {{/*form.load(url, {*/}}
            {{/*onBeforeLoad: function () {*/}}
                {{/*$c.showLoading("数据加载中...");*/}}
            {{/*},*/}}
            {{/*onLoadSuccess: function (data) {*/}}
                {{/*if (typeof (onLoadDataSuccess) != "undefined")*/}}
                    {{/*onLoadDataSuccess(data);*/}}
                {{/*$c.hideLoading();*/}}
            {{/*}*/}}
        {{/*});*/}}
    {{/*}*/}}

    {{/*function _load(data) {*/}}
        {{/*for (var name in data) {*/}}
            {{/*var value = data[name];*/}}
            {{/*form.find("[name='" + name + "']").each(function () {*/}}
                {{/*form.setFieldValue($(this), value);*/}}
            {{/*});*/}}
        {{/*}*/}}
        {{/*if (options.onLoadSuccess != null)*/}}
            {{/*options.onLoadSuccess.call(form, data);*/}}
    {{/*}*/}}
</script>
</body>

</html>