<!-- jQuery 3 -->
<script src="/static/js/jquery-2.1.1.js"></script>

<script type="text/javascript">
    function empty(data) {
        if (data && typeof data != "undefined" && data != null && data != '' && ((Array.isArray(data) && data.length > 0) || !Array.isArray(data)) && ((typeof data == "object" && JSON.stringify(data) != "{}") || typeof data != "object")) {
            return false;
        } else {
            return true;
        }
    }

    /**
     *  判断值是否在数组中
     * 存在则返回键值  不存在返回null
     * @param search
     * @param array
     * @returns {boolean}
     */
    function inArray(search, array) {
        for (let key in array) {
            if (array[key] == search) {
                return true;
            }
        }
        return false;
    }

    /**
     * 返回输入数组中某个单一列的值。
     * @param array
     * @param column_key   需要返回值的列。 可以是索引数组的列的整数索引，或者是关联数组的列的字符串键值。
     * 该参数也可以是 NULL，此时将返回整个数组（配合 index_key 参数来重置数组键的时候，非常有用）。
     * @param index_key   可选。用作返回数组的索引/键的列。
     * @returns {array}  返回数组，此数组的值为输入数组中某个单一列的值。
     */
    function arrayColumn(array, column_key, index_key = null) {
        let data = [];
        for (let i = 0; i < array.length; i++) {
            let item;
            if (!empty(column_key)) {
                item = array[i][column_key];
            } else {
                item = array[i]
            }
            if (!empty(index_key)) {
                data[index_key] = item;
            } else {
                data[i] = item;
            }
        }
        return data;
    }

    /**
     *    搜索数组中给定的值并返回键名。
     * @param search
     * @param array
     * @returns {boolean}
     */
    function arraySeach(search, array) {
        for (let key in array) {
            if (array[key] == search) {
                return key;
            }
        }
        return false;
    }
</script>



