<section class="sidebar">
    <!-- Sidebar Menu -->
    <div id="sidebar">
        <Row>
            <Col span="8">
            <i-menu theme="dark" accordion="true">
                <Submenu name="1" v-for="menu in menu_list">
                    <template slot="title">
                        <Icon type="ios-paper"></Icon>
                        {{menu.TitleCn}}
                    </template>
                    <Menu-item name="1-1">文章管理</Menu-item>
                    <Menu-item name="1-2">评论管理</Menu-item>
                    <Menu-item name="1-3">举报管理</Menu-item>
                </Submenu>

            </i-menu>
            </Col>
        </Row>
    </div>
</section>

<script>
    new Vue({
        el: '#sidebar',
        data: {
            menu_list : ''
        },
        created(){

        },
        methods: {
            loadMenu() {
                var _this = this;
                $c.loading(this);
                $c.ajax('[[urlfor "MenuController.UserMenuTree"]]',{}, function (ret) {
                    console.log(_this.menu_list)
                    if(ret.code === 0){
                        _this.menu_list = ret.data;

                    }else{
                        $c.error(_this,ret.message);
                    }
                })
            }
        },
        mounted: function () {
            this.loadMenu();
        }
    });

</script>