<form class="layui-form layui-form-pane ok-form" id="form-app">
    <input type="hidden" name="id" v-model="data.id" />
    <div class="layui-form-item">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-block">
            <input type="text" v-model="data.title" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">分类</label>
        <div class="layui-input-block">
            <select name="class_id" v-model="selected_class_id" lay-verify="required">
                <option :selected="class_data.id == data.class_id.id ? 'true' : 'false'" :value="class_data.id" v-for="class_data in class_list">[[class_data.class_name_zh]]</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">标签</label>
        <div class="layui-input-block">
            <input type="text" v-model="data.tags" name="tags" placeholder="请输入文章标签" autocomplete="off" class="layui-input" lay-verify="required">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-block">
            <textarea v-model="data.content" name="content" id="content" placeholder="请输入文章内容" class="layui-textarea" lay-verify="required"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block div-submit">
            <button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>

</form>
<script>

    layui.use(['element', 'form', 'jquery', 'laydate','layedit'], function () {
        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var layedit = layui.layedit;

        layedit.set({
            uploadImage: {
                url: '' //接口url
                ,type: '' //默认post
            }
        });
        var index = layedit.build("content")
        form.on('submit(submit)', function (data) {
            var content = layedit.getContent(index) // 富文本内容
            if(content == ""){
                $c.errorMsg("文章内容不能为空")
                return false;
            }
            data.field.content = content
            var ret = app.save(data.field) //调用vue方法
            // return false;
        });
    });
    var app = new Vue({
        el: '#form-app',
        data: {
            id: '',
            data : '',
            class_list:'',
            selected_class_id: 0,
        },
        created(){
            this.id = {{.id}};
            if(this.id != "" && parseInt(this.id) > 0 && "{{.loadDataAction}}"){
                this.loadData();
            }
        },
        methods: {
            loadData(){
                var _this = this;
                var params = {
                    "id" : {{.id}}
                };
                $.getJSON("{{.loadDataAction}}",params, function (ret) {
                    if(ret.code === 0){
                        _this.data = ret.data
                        _this.selected_class_id = _this.data.class_id.id
                    }else{
                        alert(ret.massage)
                    }
                })
            },
            loadClass(){
                var _this = this;
                var params = {
                    page    : -1,
                    limit   : -1,
                    is_json : 1,
                };
                $.getJSON("/admin/news_class/loadList", params, function (ret) {
                    if(ret.code === 0){
                        _this.class_list = ret.data

                    }else{
                        alert("分类为空")
                    }
                })
            },
            //保存
            save(params){
                $c.showLoading("提交数据中...");
                $c.ajax(getUrl("edit"),params, function(ret){
                    $c.hideLoading();
                    if(ret.code === 0){
                        $c.successMsg("编辑成功！");
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    }else{
                        $c.errorMsg(ret.message)
                    }
                })

            },

        },
        mounted: function () {
            this.loadClass();
        }
    });
</script>